<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Tienda Virtual</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous" />
        <link rel="stylesheet" href="assets/css/carrito.css" />
    </h:head>
    <h:body>
        <h2 class="text-center">Tienda Virtual</h2>
        <h:panelGrid id="panelAjax">
            <div class="row">
                <div class="col-md-12 text-center">
                  <label class="col-form-label">Cantidad: #{carritoPendienteBean.cantidadProductos}</label>
                </div>
                <div class="col-md-12 text-center">
                    <label class="col-form-label">Usuario: #{loginBean.cliente.nombre} #{loginBean.cliente.apellidoPaterno} #{loginBean.cliente.apellidoMaterno}</label>
                </div>

                <h:form>
                    <div class="col-md-6 text-center">
                        <h:commandButton value="Ver Productos" action="#{carritoPendienteBean.verProducto}" 
                        class="btn btn-primary"/>
                    </div>
                    <div class="col-md-6 text-center">
                        <h:commandButton value="Guardar Carrito" 
                        action="#{carritoPendienteBean.guardarCarrito(loginBean.cliente, carritoPendienteBean.detallesCarritos)}" 
                        class="btn btn-primary"/>
                    </div>
                </h:form>
              </div>
            <br/>
            <div class="row row-table">            
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Precio Calculado</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>                    
                        <ui:repeat value="#{carritoPendienteBean.detallesCarritos}" var="contenido">
                            <tr>
                                <td>#{contenido.producto.nombre}</td>
                                <td>#{contenido.producto.categoria.nombre}</td>
                                <td>#{contenido.producto.marca.nombre}</td>
                                <td>
                                    <h:inputText value="#{contenido.cantidad}">
                                        <p:ajax update="panelAjax" process="@this"
                                        listener="#{carritoPendienteBean.changeCantidadCarrito(contenido)}" />
                                    </h:inputText>
                                </td>
                                <td>S/. 
                                    <h:outputText value="#{contenido.precioUnitario}">
                                        <f:convertNumber pattern="#.00" />
                                    </h:outputText>
                                </td>
                                <td>S/. 
                                    <h:outputText value="#{contenido.precioCalculado}">
                                        <f:convertNumber pattern="#.00" />
                                    </h:outputText>
                                </td>
                                <td>
                                    <p:commandButton  class="btn btn-primary" value="Eliminar" update="panelAjax" 
                                    actionListener="#{carritoPendienteBean.eliminarProducto(contenido)}"/>
                                </td>
                            </tr>
                        </ui:repeat>
                    </tbody>
                </table>

                <h:panelGrid columns="2" class="div-total">
                   Total: S/. 
                    <h:outputText value="#{carritoPendienteBean.total}">
                        <!--<f:convertNumber pattern="#.00" />-->
                    </h:outputText>
                </h:panelGrid>
            </div>
        </h:panelGrid>
    </h:body>
</html>
