<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Tienda Virtual</title>
        <link rel="stylesheet" href="assets/css/login.css" />
    </h:head>
    <h:body>
        <div class="container">
            <div class="card card-container">
                <img id="profile-img" class="profile-img-card" 
                     src="assets/img/default.png" />
                <p id="profile-name" class="profile-name-card"></p>

                <h:form class="form-signin">
                    <span id="reauth-email" class="reauth-email"></span>
                    <h:inputText value="#{loginBean.usuario}" class="form-control input-login" pt:placeholder="Usuario"/>
                    
                    <h:inputSecret value="#{loginBean.clave}" class="form-control input-login" pt:placeholder="Clave"/>

                    <h:commandButton value="Iniciar Sesión" action="#{loginBean.login}"
                    class="btn btn-lg btn-primary btn-block btn-signin"/>
                </h:form><!-- /form -->
                
            </div><!-- /card-container -->
        </div><!-- /container -->
    </h:body>
</html>

