<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Tienda Virtual</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous" />
        <link rel="stylesheet" href="assets/css/productos.css" />
    </h:head>
    <h:body>
        <h2 class="text-center">Tienda Virtual</h2>
        <div class="row">
            <h:panelGrid id="panelAjax">
                <div class="col-md-12 text-center">
                  <label class="col-form-label">Cantidad: #{carritoPendienteBean.cantidadProductos}</label>
                </div>
                <div class="col-md-12 text-center">
                    <label class="col-form-label">Usuario: #{loginBean.cliente.nombre} #{loginBean.cliente.apellidoPaterno} #{loginBean.cliente.apellidoMaterno}</label>
                </div>
            </h:panelGrid>
            
            <h:form>
                <div class="col-md-12 text-center">
                    <h:commandButton value="Ver Carrito" action="#{carritoPendienteBean.verCarrito}" 
                    class="btn btn-primary"/>
                </div>
            </h:form>
          </div>
        <br/>
        <div class="row">
            <ui:repeat value="#{productosBean.lstProducto}" var="producto">
                
                <div class="col-md-4">
                    <h:form>
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">#{producto.nombre}</h5>
                            <p class="card-text">#{producto.descripcion}</p>
                            <p class="card-text"><b>Categoría:</b> #{producto.categoria.nombre}</p>
                            <p class="card-text"><b>Marca:</b> #{producto.marca.nombre}</p>
                            <p class="card-text">
                                <b>Precio:</b> S/ 
                                <h:outputText value="#{producto.precio}">
                                    <f:convertNumber pattern="#.00" />
                                </h:outputText>
                            </p>
                        </div>
                        
                        <p:commandButton  class="btn btn-primary" 
                        value="Agregar al carro" update="panelAjax" 
                        actionListener="#{carritoPendienteBean.agregarProductoACarrito(producto)}"/>
                    </div>
                    </h:form><!-- /form -->
                </div>
            </ui:repeat>
        </div>
    </h:body>
</html>
